*{
    margin: 0;
    padding: auto;
    font-family: 'Arimo', sans-serif;
    text-align: start;
}

body{
    background: linear-gradient(0deg, rgba(0,135,124,1) 0%, rgba(53,33,87,1) 100%);
    width: 100%;
}

header{
    width: 100%;
    height: 14vh;
    background-color: #122338;
    border-bottom-right-radius: 100% 30%;
    border-bottom-left-radius: 100% 30%;
    border-bottom: 1vh #f7a807 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    position: fixed;
    top: 0;
    box-shadow: #f7a807 1vh 0 10vh;
    z-index: 10;
}

.logo{
    display: flex;
    align-items: center;
}

header img{
    height: 8vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

nav a{
    display: flex;
    text-decoration: none;
    color: #fffadb;
    font-family: 'Arimo', sans-serif;
    font-size: 1.6vw;
    transition: 1s;
    padding: 2vh;
}

nav a:hover{
    transform: scale(1.15);
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: auto;
}

.contacts img{
    height: 3vh;
    padding: .5%;
    margin-right: .6vw;
}

.contacts a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fffadb;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    padding: 1vh;
}

.contacts span{
    display: flex;
    width: 17vw;
    text-align: start;

}

.container{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

h1{
    display: flex;
    color: #fffadb;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    padding: 30px;
}

.container_catalog{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-around;
    width: 95%;
    column-gap: 20px;
}

.container_catalog a{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fffadb;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: #fffadb 2px solid;
    border-radius: 40px;
    transition: 1s;
    justify-content: center;
    align-items: center;
}

.container_catalog img{
    width: 30vw;
    border-radius: 40px;
    transition: 1.5s;
}

h2{
    font-size: 26px;
    padding: 20px 0 20px 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

span{
    font-size: 20px;
    text-align: center;
}

.container_catalog a:hover{
    background-color: rgba(0, 0, 0, 0.438);
    border-color: #f7a807;
}

.scroller{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-top: 60px;
}

.scroller button{
    border: none;
    width: 6vw;
    height: 6vw;
    background-color: #fffadb7a;
    border-radius: 35px;
    transition: 1s;
    justify-content: center;
    align-content: center;
}

.scroller img{
    width: 4vw;
    display: flex;
    margin: auto;
}

.scroller button:hover{
    background-color: #0000007a;
}