*{
    margin: 0;
    padding: auto;
    font-family: 'Arimo', sans-serif;
    text-align: start;
}

body{
    background: linear-gradient(0deg, rgba(0,135,124,1) 0%, rgba(53,33,87,1) 100%);
    width: 100%;
}

header{
    width: 100%;
    height: 14vh;
    background-color: #122338;
    border-bottom-right-radius: 100% 30%;
    border-bottom-left-radius: 100% 30%;
    border-bottom: 1vh #f7a807 solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    position: fixed;
    top: 0;
    box-shadow: #f7a807 1vh 0 10vh;
    z-index: 10;
}

.logo{
    display: flex;
    align-items: center;
}

header img{
    height: 8vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

nav a{
    display: flex;
    text-decoration: none;
    color: #fffadb;
    font-family: 'Arimo', sans-serif;
    font-size: 1.6vw;
    transition: 1s;
    padding: 2vh;
}

nav a:hover{
    transform: scale(1.15);
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: auto;
}

.contacts img{
    height: 3vh;
    padding: .5%;
    margin-right: .6vw;
}

.contacts a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fffadb;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    padding: 1vh;
}

.contacts span{
    display: flex;
    width: 17vw;
    text-align: start;
    font-family: 'Arimo', sans-serif;
    font-size: 1.6vw;
}

.container{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    display: flex;
    color: #fffadb;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    font-size: 36px;
    padding: 30px;
}

.container_catalog{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-around;
    width: 94vw;
    column-gap: 20px;
}

.container_catalog a{
    width: 28vw;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    color: #fffadb;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: #fffadb 2px solid;
    border-radius: 40px;
    transition: 1s;
    justify-content: center;
    align-items: center;
}

.container_catalog img{
    width: 29vw;
    border-radius: 40px;
    transition: 1.5s;
}

a h2{
    display: flex;
    font-size: 26px;
    padding: 20px 0 20px 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

span{
    font-size: 20px;
    text-align: center;
}

.container_catalog a:hover{
    background-color: rgba(0, 0, 0, 0.438);
    border-color: #f7a807;
}

.clients_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23vh;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0);
    border: #f7a807 2px solid;
    border-radius: 40px;
}

.clients_container h3{
    color: #fffadb;
    margin: 1vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 3px;
}

.clients{
    display: grid;
    width: 93vw;
    grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
    gap: .8vw;
    margin-top: 20px;
}

.clients div{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border: rgba(0, 0, 0, 0) 2px solid;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: .8vw;
}

.clients h4{
    display: flex;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1.5px;
}

.clients img{
    display: flex;
    max-height: 10vh;
    max-width: 16vw;
    margin: 0 auto 0 auto;
    padding-bottom: 10px;
    justify-content: end;
    align-items: end;
}

.about_company{
    margin-top: 20vh;
    height: 60vh;
    width: 100vw;
    display: flex;
    background-color: #122338;
    border-top-right-radius: 100% 10%;
    border-top-left-radius: 100% 10%;
    border-top: 1vh #f7a807 solid;
    flex-direction: row;
    justify-content: space-around;
    align-items: start; 
    box-shadow: #f7a807 -1vh 0 10vh;
    padding-top: 10vh;
}

.about_company div{
    color: #fffadb;
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
}

.about_company h4{
    color: #fffadb;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 3px;
}

.map{
    display: flex;
    width: 25vw;
    height: 15vh;
}